<div class="">
  <span class="pic_name">
    <%= link_to user_path(user) do %>
      <%= image_tag user_picture(user), class: "img-circle pic-small" %>
      <%= user.username %>
    <% end %>
  </span>
  <span class="points">
    <%= "#{@skill_tag.skill_of(user).points}" %>
  </span>
</div>
