@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// general
body {
  color: #565a5c;
  background-color: #FCFCFC;
}

.pic-small {
  width: 24px;
}

.container {
	width: 80%;
}



// navbar
.navbar {
  padding-top: 15px;
  margin: 0;
}

.navbar-brand {
  font-size: 2em;
  padding: 0;
  height: auto;
}
.navbar-nav li {
  margin-right: 20px;
  margin-bottom: 10px
}

.navbar-nav > li > a {
  padding-top: 0px;
  padding-bottom: 0px;
}

.nav > li > a {
  padding: 0px;
}

.dropdown {
  margin: 0;
}

.fa-envelope-o:before {
  margin-right: 5px;
}

// navbar for mobile

@media (max-width: 767px){
  .navbar-toggle {
    margin: 0 0 14px 0;
    padding: 6px 8px;
  }
  .navbar-nav .open .dropdown-menu > li > a, .navbar-nav .open .dropdown-menu .dropdown-header {
      padding: 0px;
  }
}
