@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// general
body {
  color: #565a5c;
  background-color: #F8F8F8;
}

.pic-small {
  width: 24px;
}

.pic-middle {
  width: 56px;
}

.container {
	width: 80%;
}

.center {
  text-align: center;
}

ul {
  list-style-type:none;
  padding-left: 0;
}

.inline_block {
  display: inline-block;
}

// Form
.btn-primary.btn {
  padding: 7px 20px 7px 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-control {
  border-radius: 2px;
  height: 4rem;
}

// navbar

.navbar-default {
  background-color: #FDFDFD;
}
.navbar {
  padding-top: 15px;
  margin: 0;
}

.navbar-brand {
  font-size: 2em;
  padding: 0;
  height: auto;
}
.navbar-nav li {
  margin-right: 20px;
  margin-bottom: 10px
}

.navbar-nav > li > a {
  padding-top: 0px;
  padding-bottom: 0px;
}

.nav > li > a {
  padding: 0px;
}

.dropdown {
  margin: 0;
}

.fa-envelope-o:before {
  margin-right: 5px;
}

// user page

.user_top {
  margin: 30px 10px;
}
.user_name {
  font-size: 24px;
  padding-left: 15px;
}

// skill form
 .skill_form .form-control {

 }

// user_skills
.user_skills {
  padding: 10px 0;
}
.points {
  font-size: 2em;
}
.points_span {
  width: 60px;
  display: inline-block;
}

.user_skill_name{
  width: 150px;
  font-size: 1.5em;
  display: inline-block;
}

//  skill_show
.pic_name {
  width: 170px;
  display: inline-block;
}





// For mobile

@media (max-width: 767px){
  .navbar-toggle {
    margin: 0 0 14px 0;
    padding: 6px 8px;
  }
  .navbar-nav .open .dropdown-menu > li > a, .navbar-nav .open .dropdown-menu .dropdown-header {
      padding: 0px;
  }

  .user_top {
    margin: 15px 7px;
  }
  .user_name {
    font-size: 16px;
    padding-left: 10px;
  }
}
